# Dependencies
node_modules
/server/node_modules
/client/node_modules

# Build and Temporary Outputs
/dist
/dist-ssr
/build
/public/build # Nếu thư mục build nằm trong public

# Environment Variables
.env
.env.local
.env.development.local
.env.production.local
/server/.env # Nếu bạn có file .env nằm trong thư mục server

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json # Giữ lại file cấu hình mở rộng
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Uploaded Files (Dynamic Content)
/server/uploads